.stages{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    grid-gap: 10px;
    margin: 2% 10%;
    color: white;
}
.stage{
    background-color: indianred;
    border-radius: 10%;
    padding: 10% 0;
}
.stages img{
    margin-top: 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.stages button{
    background-color: rgb(73, 138, 160);
    padding: 2% 5%;
    margin-top: 2%;
    border-radius: 10px;
    color: white;
    border: 0;
}
.button{
    text-align: center;
}
#btn{
    color: lightgrey;
    background-color: lightslategrey;
    padding: 1% 3%;
    border-radius: 10px;
    border: 0;
}